header{
	background: url("../img/background/hero.jpg")center center;
	background-size: cover;
	color: #FFF;
	height: 700px;
	padding:20px 0px 170px 0px;
	margin-bottom:90px;
}

.background1{
	background-color: rgba(0,0,0,.6);
	width: 100%;
	padding:0px;
	margin:0px;
	display: block;
	position: absolute;
	height: 100%;
}
/*Menu inicial*/
.navbar-nav li{
	list-style: none;
	margin-left:40px;
}
.navbar-nav a{
	text-decoration:none;
	color: #fff;
}
.navbar-nav a:hover{
	color:#04B4AE;
}
/**/
/*codigo de Launsh your y los dos botones*/
.texto-centrado h1{
	margin:150px 0px 40px 0px;
}
.sub-menu li{
	display: inline-block;
	margin-bottom:50px;
	margin:30px auto;
}
.sub-menu a{
	margin-right:40px;
	text-decoration: none;
	color:#fff;
	padding:15px;
	font-size:18px;
	transition:all 1s;
	background:rgba(255,255,255,0.1);
}
.sub-menu a:hover{
	background: #848484;
}
/**/
.container-fluid span{
	color:#04B4AE;
	font-size:50px;
}
.segunda-fila p{
	color:#A4A4A4;
}
.col-sm-6 span{/*color de iconos*/
	color:#0DC8CE;
}
.lorem{
	margin:20px 0px 150px 0px;
}
section{
	background:#F2F2F2;
}
.computadora{
	padding:25px 0px 15px 0px;
	margin-bottom:60px;
}
/*LOREM DEL MORE FEATURES*/
.media-left span{
	color:#04B4AE;
	font-size: 30px;
}
.media{
	margin-bottom:50px;
}
.media-body p{
	color:#A4A4A4;
}
/**/
/*P O R T A F O L I O*/
.portafolio h2{
	padding:15px 0px;
}
.portafolio p,ul{
	padding-bottom:10px;
}
.portafolio-secction{
	background:#F2F2F2;
}
.portafolio li{
	display: inline-block;
}
.portafolio a,.boton-centrado a{
	text-decoration: none;
	color:black;
	padding:15px;
	font-size:18px;
	transition:all 1s;
}
.portafolio a:hover{
	background:#04B4AE;
}
.boton-centrado{
	margin:40px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
}
.boton-centrado a:hover{
	background:#848484;
}
/*OTRA SECCION CON FONDO DE CIUDAD*/
.section-fondo-ciudad{
	background:url("../img/background/city.jpg") center center;
	padding:150px 0px;
	color: #fff;
}
.sub-menu1{
	margin-top:80px;
}
.sub-menu1 a{
	text-decoration: none;
	color:#fff;
	padding:15px;
	font-size:18px;
	transition:all 1s;
	background:rgba(255,255,255,0.1);
}
.sub-menu1 a:hover{
	background:#848484; 
}
.color-negro,.color-celeste{
	background: #D8D8D8;
	padding-bottom:20px;
	margin-bottom:30px;
	font-size: 18px;
}
.color-negro h3{
	background:#2E2E2E;
	color: #fff;
	padding: 30px;
	margin-bottom:25px;
}
.color-celeste h3{
	background:#04B4AE;
	color: #fff;
	padding: 30px;
	margin-bottom:25px;
}
.parrafo-lineado{
	padding:0px 30px 0px 30px;
}
.parrafo-lineado p{
	color:#BDBDBD;
	border-bottom: 1px solid #BDBDBD;
	padding-bottom: 15px;
}
.parrafo-lineado a{
	background:grey;
	color:#fff;
	text-decoration: none;
	padding:10px 15px;
}
.what{
	padding: 50px 0px;
}
.what img{
	border-radius: 50%;
	margin-top:50px;
	margin-bottom: 15px;
}
.section-fondo-contacto{
	background: url("../img/background/contactus.jpg") center center;
	color:#fff;
}
form{
	margin:5px 60px 30px 0px;
}
.col-sm-sm-5 h4{
	margin-bottom:20px;
}
.submit strong{
	background:#04B4AE;
	text-decoration: none;
	font-size:16px;
	padding: 10px;

}
.follow{
	padding:50px 0px;
}
.redes-sociales span{
	color: black;
}
.redes-sociales li{
	list-style: none;
	display: inline-block;
	margin: 8px;
}
footer{
	background:#2E2E2E;
	padding:30px 0px;
}
.pie-de-pagina{
	text-align: center;
}
.pie-de-pagina a{
	text-decoration:none;
}